<div class="container bg-dark text-white border-round">

  <div class="row align-items-center ">

      <div class="col-6 mx-auto col-md-6 order-md-1 bottom15 top15">
        <img class="img-fluid" src="./assets/img/genio500.png">
      </div>

      <div class="col-md-6 order-md-2 text-center text-md-rigth pr-md-5 bottom15 top15">
        <h1>Adivinemos el número!!!</h1>
        <p>Vamos a intentar adivinar un número entero entre 1 y 100. Hay dos formas de jugarlo, ¿Quién adivina?</p>
        <a [routerLink]="['/guessPc']" class="btn btn-lg btn-block btn-warning list-group-item list-group-item-action active">Genio</a>
        <a [routerLink]="['/guessUs']" class="btn btn-lg btn-block btn-info list-group-item list-group-item-action active">Tú</a>
      </div>

  </div>

</div>
